<app-user-layout-box>
  <div class="xHeader">
    <h3>Ayin Kullanicisi</h3>
  </div>

  <div class="xBody">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Sevket Topuz</h4>
        <p class="card-text justify-content-between">
        <span>
          <strong>Soru : </strong>

          <span class="badge badge-success badge-pill"> <i class="fa fa-question-circle"></i>
            50 </span>
        </span>

          <span>
          <strong>Cevap : </strong>

          <span class="badge badge-success badge-pill"> <i class="fa fa-comments"></i>
            125 </span>
        </span>

          <span>
          <strong>Begeni : </strong>

          <span class="badge badge-success badge-pill">  <i class="fa fa-thumbs-up"></i>
            225 </span>
        </span>



        </p>
        <a href="#" class="card-link">Profile</a>
        <a href="#" class="card-link">Iletisim</a>
      </div>
    </div>
  </div>
</app-user-layout-box>
