<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        Yeni Ketagori
      </div>
      <div class="card-block">
        <form role="form">
          <div class="form-group">

            <label for="exampleInputEmail1">
              Kategori Baslik
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1"/>
          </div>


          <div class="form-group">

            <label>
             Aciklama
            </label>
            <app-text-editor
              [elementId]="'my-editor-id'"
              (onEditorKeyup)="keyupHandlerFunction($event)"
            >
            </app-text-editor>
          </div>

          <div class="form-group">
            <label> Kategori Resmi</label>
            <input type="file" class="form-control">
          </div>

          <button type="submit" class="btn btn-default">
            Kaydet
          </button>
        </form>
      </div>
    </div>

  </div>
</div>
